@charset "UTF-8";
/**
 *
 * @authors 陈小雪 (shell_chen@yeah.net)
 * @date    2015-06-04 16:59:59
 * @version $Id$
 */

body{
    font: normal 100% Helvetica, Arial, sans-serif;
    min-width: 1250px;
    height: 100%;
    margin: 0;
}
#wapper{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@media (min-device-width:1024px) and (max-width:989px),screen and (max-device-width:480px),(max-device-width:480px) and (orientation:landscape),(min-device-width:480px) and (max-device-width:1024px) and (orientation:portrait) {

    }
